/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter Tight", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1250px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

footer {
  background: #F9FAFB;
  padding: 24px 532px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}
footer .footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  footer {
    background: #111827;
  }
  footer p {
    color: #fff;
  }
}
header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 16px;
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  z-index: 9999;
  width: 100%;
}
header .container {
  position: relative;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav a {
  font-size: 30px;
  font-weight: 700;
  color: black;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
header nav ul p {
  color: gray;
}
header nav ul a {
  font-size: 16px;
  font-weight: 500;
  color: gray;
}
header nav ul a:hover {
  color: #030712;
}
header nav ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
header nav ul div button {
  padding: 6px 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  border: none;
  background-color: black;
  color: #fff;
  cursor: pointer;
}
header nav ul div button:hover {
  opacity: 0.8;
}
header nav .toggle_menu {
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: none;
}

@media (prefers-color-scheme: dark) {
  header,
  #intro,
  #skills,
  #work,
  #getintouch {
    background-color: #030712;
  }
  header .nav a,
  #intro .nav a,
  #skills .nav a,
  #work .nav a,
  #getintouch .nav a {
    color: #fff;
  }
  header .nav ul a,
  #intro .nav ul a,
  #skills .nav ul a,
  #work .nav ul a,
  #getintouch .nav ul a {
    color: grey;
  }
  header .nav ul a:hover,
  #intro .nav ul a:hover,
  #skills .nav ul a:hover,
  #work .nav ul a:hover,
  #getintouch .nav ul a:hover {
    color: #fff;
  }
  header .nav ul button,
  #intro .nav ul button,
  #skills .nav ul button,
  #work .nav ul button,
  #getintouch .nav ul button {
    background: #111827;
  }
}
@media only screen and (max-width: 576px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  header nav ul {
    display: none;
  }
  header nav .toggle_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#intro {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 96px;
}
#intro .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#intro .container .wrapper_left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 48px;
  padding-top: 96px;
}
#intro .container .wrapper_left-txt {
  width: 768px;
}
#intro .container .wrapper_left-txt h1 {
  font-weight: 700;
  font-size: 60px;
  color: #111827;
}
#intro .container .wrapper_left-txt p {
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #4b5563;
}
#intro .container .wrapper_left .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
#intro .container .wrapper_left .location small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
#intro .container .wrapper_right {
  position: relative;
}
#intro .container .wrapper_right .mukhriddin {
  margin-right: 40px;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  position: relative;
  z-index: 2;
}
#intro .container .wrapper_right .mukhriddin:hover {
  -webkit-transform: translateY(40px) translateX(40px) scale(0.97);
      -ms-transform: translateY(40px) translateX(40px) scale(0.97);
          transform: translateY(40px) translateX(40px) scale(0.97);
}
#intro .container .wrapper_right .mukhriddin-bg {
  position: absolute;
  left: 40px;
  z-index: 0;
  top: 40px;
}

@media (prefers-color-scheme: dark) {
  #intro {
    background-color: #030712;
  }
  #intro .wrapper_left .wrapper_left-txt h1,
  #intro .wrapper_left .wrapper_left-txt p {
    color: #ffffff;
  }
  #intro .wrapper_left .location small {
    color: #ffffff;
  }
  #intro .wrapper_left .icons a img {
    background-color: #ffffff;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #intro .wrapper_left .icons a:hover img {
    opacity: 0.8;
  }
  #intro .wrapper_right {
    z-index: 3;
  }
  #intro .mukhriddin {
    margin-right: 40px;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 40px 40px #4b5563;
            box-shadow: 40px 40px #4b5563;
  }
  #intro .mukhriddin:hover {
    -webkit-transform: translateY(40px) translateX(40px) scale(0.97);
        -ms-transform: translateY(40px) translateX(40px) scale(0.97);
            transform: translateY(40px) translateX(40px) scale(0.97);
    -webkit-box-shadow: 0px 0px #4b5563;
            box-shadow: 0px 0px #4b5563;
  }
}
@media only screen and (max-width: 576px) {
  #intro .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 50px;
  }
  #intro .container .wrapper_right .mukhriddin {
    left: 40px;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    top: 20px;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    position: relative;
    z-index: 2;
  }
  #intro .container .wrapper_right .mukhriddin:hover {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    top: 40px;
  }
}
#about {
  background: #F9FAFB;
  padding-top: 96px;
  padding-bottom: 96px;
}
#about .container .title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#about .container .title h4 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(13, 13, 13);
  background-color: #bbbbc5;
  padding: 4px 20px;
  border-radius: 18px;
}
#about .container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}
#about .container .wrapper .wrapper_left {
  padding: 0 144px 174px 0;
  position: relative;
}
#about .container .wrapper .wrapper_left .frontend {
  position: relative;
  left: 40px;
  z-index: 2;
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
#about .container .wrapper .wrapper_left .frontend:hover {
  -webkit-transform: translateX(-40px) translateY(40px) scale(0.99);
      -ms-transform: translateX(-40px) translateY(40px) scale(0.99);
          transform: translateX(-40px) translateY(40px) scale(0.99);
}
#about .container .wrapper .wrapper_left .backend {
  position: absolute;
  top: 40px;
}
#about .container .wrapper .wrapper_right {
  width: 584px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
#about .container .wrapper .wrapper_right h3 {
  font-size: 30px;
  font-weight: 600;
}
#about .container .wrapper .wrapper_right p {
  font-size: 16px;
  font-weight: 400;
}
#about .container .wrapper .wrapper_right .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
}
#about .container .wrapper .wrapper_right .ul ul {
  list-style-type: disc;
}

@media (prefers-color-scheme: dark) {
  #about {
    background: #111827;
  }
  #about h3, #about ul, #about p {
    color: #fff;
  }
}
@media only screen and (max-width: 576px) {
  #about {
    padding: 64px 16px;
  }
  #about .wrapper {
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .wrapper .wrapper_left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #about .wrapper .wrapper_right {
    padding: 0 16px;
  }
}
#skills {
  padding: 96px 80px;
}
#skills .title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
#skills .title h4 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(13, 13, 13);
  background-color: #b3b3bd;
  padding: 4px 20px;
  border-radius: 18px;
}
#skills .wrapper {
  padding-top: 48px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  -ms-grid-rows: 1fr 48px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 86px;
  grid-row-gap: 48px;
}
#skills .wrapper img {
  padding: 10px 10px;
  border-radius: 7px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px grey;
          box-shadow: 0px 0px 5px grey;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
#skills .wrapper img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media (prefers-color-scheme: dark) {
  #skills h1 {
    color: #fff;
  }
  #skills .wrapper img {
    color: #fff;
  }
}
#experience {
  background: #f9fafb;
  padding: 96px 80px;
}
#experience .title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
#experience .title h4 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(13, 13, 13);
  background-color: #cfcfd6;
  padding: 4px 20px;
  border-radius: 18px;
}
#experience .title h1 {
  color: #4B5563;
  font-size: 20px;
  font-weight: 400;
}
#experience .wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1, minmax(400px, 1fr));
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 48px;
  place-content: center;
}
#experience .wrapper .card {
  padding: 32px;
  width: 896px;
  border-radius: 12px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 48px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#experience .wrapper .card:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
#experience .wrapper .card ul {
  width: 384px;
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 12px;
}
#experience .wrapper .card ul h1 {
  font-size: 20px;
  font-weight: 600;
}
#experience .wrapper .card ul h1 h1 {
  margin-bottom: 16px;
}

@media (prefers-color-scheme: dark) {
  #experience {
    background: #111827;
  }
  #experience .wrapper .card {
    background-color: #1F2937;
    color: white;
  }
}
@media only screen and (max-width: 576px) {
  #experience .wrapper .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 32px !important;
  }
}
#work {
  padding: 96px 80px;
}
#work .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}
#work .container .title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
#work .container .title h4 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(13, 13, 13);
  background-color: #d0d0d8;
  padding: 4px 20px;
  border-radius: 18px;
}
#work .container .title h1 {
  color: #4b5563;
  font-size: 20px;
  font-weight: 400;
}
#work .container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 6px 15px rgba(197, 195, 195, 0.426);
          box-shadow: 2px 6px 15px rgba(197, 195, 195, 0.426);
  border-radius: 12px;
  margin-top: 30px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#work .container .card:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
#work .container .card .card-right {
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 24px;
}
#work .container .card .versions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0fr 8px 0fr 8px 0fr 8px 0fr;
  grid-template-columns: repeat(4, 0fr);
  -ms-grid-rows: 0fr 8px 0fr 8px 0fr;
  grid-template-rows: repeat(3, 0fr);
  gap: 8px;
}
#work .container .card .versions > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
#work .container .card .versions > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
#work .container .card .versions > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
#work .container .card .versions > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
#work .container .card .versions > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
#work .container .card .versions > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
#work .container .card .versions > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
#work .container .card .versions > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
#work .container .card .versions > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
#work .container .card .versions > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
#work .container .card .versions > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
#work .container .card .versions > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
#work .container .card .versions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #aaaab4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  padding: 4px 20px;
  text-align: center;
}
#work .container .card .versions div p {
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  #work .card {
    background: #1f2937;
  }
  #work .card h1 {
    color: #fff;
  }
  #work .card p {
    color: #6b7280;
  }
}
@media only screen and (max-width: 576px) {
  #work .wrapper .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 32px !important;
  }
}
#testimonials {
  padding: 96px 80px;
  background: #F9FAFB;
}
#testimonials .container .title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
#testimonials .container .title h4 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(13, 13, 13);
  background-color: #aaaab4;
  padding: 4px 20px;
  border-radius: 18px;
}
#testimonials .container .title h1 {
  color: #4B5563;
  font-size: 20px;
  font-weight: 400;
}
#testimonials .container .wrapper {
  padding-top: 48px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 48px;
}
#testimonials .container .wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 48px 96px 48px;
  width: 375px;
  background-color: #fff;
  gap: 24px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 5px 0px grey;
          box-shadow: 0px 0px 5px 0px grey;
  cursor: pointer;
}
#testimonials .container .wrapper .card .card:hover {
  -webkit-box-shadow: 0px 0px 20px grey;
          box-shadow: 0px 0px 20px grey;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#testimonials .container .wrapper .card p {
  font-size: 16px;
  font-weight: 400;
}
#testimonials .container .wrapper .card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
#testimonials .container .wrapper .card div h2 {
  font-size: 20px;
  font-weight: 600;
}
#testimonials .container .wrapper .card div h4 {
  font-size: 14px;
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  #testimonials {
    background: #111827;
  }
  #testimonials .wrapper .card {
    background: #1F2937 !important;
  }
  #testimonials .wrapper .card p, #testimonials .wrapper .card h2, #testimonials .wrapper .card a {
    color: #fff;
  }
}
#getintouch {
  padding: 96px 80px;
}
#getintouch .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}
#getintouch .container .title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  width: 576px;
}
#getintouch .container .title h4 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(13, 13, 13);
  background-color: #cdcdd4;
  padding: 4px 20px;
  border-radius: 18px;
  text-align: center;
}
#getintouch .container .title h1 {
  color: #4b5563;
}
#getintouch .container .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-size: 36px;
  font-weight: 600;
}
#getintouch .container .adress a {
  color: #111827;
}
#getintouch .container .socall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#getintouch .container .socall h3 {
  color: #4B5563;
  font-size: 16px;
  font-weight: 400;
}
#getintouch .container .socall .socal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
#getintouch .container .socall .socal i {
  width: 36px;
  height: 36px;
}

@media (prefers-color-scheme: dark) {
  #getintouch .container .title h1, #getintouch .container .title h4 {
    color: #fff;
  }
  #getintouch .container .adress .line {
    color: #fff;
  }
  #getintouch .container .adress .line a {
    color: #fff;
  }
  #getintouch .container .socall h3, #getintouch .container .socall a {
    color: #fff;
  }
}
@media only screen and (max-widht: 576px) {
  #getintouch .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}