@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter Tight", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1250px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 16px;
  backdrop-filter: blur(10px);
  z-index: 9999;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav a {
  font-size: 30px;
  font-weight: 700;
  color: black;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
header nav ul p {
  color: gray;
}
header nav ul a {
  font-size: 16px;
  font-weight: 500;
  color: gray;
}
header nav ul div {
  display: flex;
  align-items: center;
  gap: 16px;
}
header nav ul div button {
  padding: 6px 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  border: none;
  background-color: black;
  color: #fff;
}

main {
  padding-top: 68px;
}
main #intro {
  padding-top: 96px;
  padding-bottom: 96px;
}
main #intro .wrapper {
  display: flex;
  gap: 48px;
}
main #intro .wrapper .wrapper_left {
  width: 768px;
}
main #intro .wrapper .wrapper_left h1 {
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 8px;
}
main #intro .wrapper .wrapper_left p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 48px;
}
main #intro .wrapper .wrapper_left .location {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
}
main #intro .wrapper .wrapper_left .headdot {
  display: flex;
  align-items: center;
  margin-left: 4px;
  gap: 8px;
  padding-bottom: 48px;
  font-size: 16px;
  font-weight: 400;
}
main #intro .wrapper .wrapper_left .headdot .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: green;
}
main #intro .wrapper .wrapper_left .social a {
  width: 28px;
  height: 28px;
}
main #intro .wrapper .wrapper_right {
  position: relative;
}
main #intro .wrapper .wrapper_right .background {
  position: absolute;
  z-index: -1;
  top: 40px;
  left: 40px;
}
main #intro .wrapper .wrapper_right .frontend {
  transition: all 0.7s ease-in-out;
}
main #intro .wrapper .wrapper_right .frontend:hover {
  transform: translateX(40px) translateY(40px) scale(0.99);
}

#about {
  background: #F9FAFB;
  padding-top: 96px;
  padding-bottom: 96px;
}
#about .container .title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .container .title h4 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(13, 13, 13);
  background-color: #9d9da8;
  padding: 4px 20px;
  border-radius: 18px;
}
#about .container .wrapper {
  padding-top: 76px;
  display: flex;
  gap: 48px;
}
#about .container .wrapper .wrapper_left {
  padding: 0 144px 174px 0;
  position: relative;
}
#about .container .wrapper .wrapper_left .frontend {
  position: relative;
  left: 40px;
  z-index: 2;
  transition: all 0.7s ease-in-out;
}
#about .container .wrapper .wrapper_left .frontend:hover {
  transform: translateX(-40px) translateY(40px) scale(0.99);
}
#about .container .wrapper .wrapper_left .backend {
  position: absolute;
  top: 40px;
}
#about .container .wrapper .wrapper_right {
  width: 584px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#about .container .wrapper .wrapper_right h3 {
  font-size: 30px;
  font-weight: 600;
}
#about .container .wrapper .wrapper_right p {
  font-size: 16px;
  font-weight: 400;
}
#about .container .wrapper .wrapper_right .ul {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
}
#about .container .wrapper .wrapper_right .ul ul {
  list-style-type: disc;
}

#skills {
  padding: 96px 80px;
}
#skills .title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
#skills .title h4 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(13, 13, 13);
  background-color: #b3b3bd;
  padding: 4px 20px;
  border-radius: 18px;
}
#skills .wrapper {
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 86px;
  grid-row-gap: 48px;
}

#experience {
  background: #f9fafb;
  padding: 96px 80px;
}
#experience .title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
#experience .title h4 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(13, 13, 13);
  background-color: #aaaab4;
  padding: 4px 20px;
  border-radius: 18px;
}
#experience .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#experience .wrapper .card {
  padding: 32px;
  width: 896px;
  height: 288px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 48px;
}
#experience .wrapper .card ul {
  width: 384px;
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 12px;
}
#experience .wrapper .card ul h1 {
  font-size: 20px;
  font-weight: 600;
}
#experience .wrapper .card ul h1 h1 {
  margin-bottom: 16px;
}
#experience .wrapper .card img {
  mix-blend-mode: multiply;
}

#work {
  padding: 96px 80px;
}

.container .title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.container .title h4 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(13, 13, 13);
  background-color: #aaaab4;
  padding: 4px 20px;
  border-radius: 18px;
}
.container .card {
  display: flex;
  align-items: flex-start;
  padding: 48px 32px;
}
.container .card .card-right {
  padding: 48px;
}
.container .card .versions {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  grid-template-rows: repeat(3, 0fr);
  gap: 8px;
}
.container .card .versions div {
  display: flex;
  background-color: #aaaab4;
  align-items: center;
  border-radius: 12px;
  padding: 4px 20px;
  text-align: center;
}
.container .card .versions div p {
  color: #fff;
}/*# sourceMappingURL=style.css.map */