#experience {
  background: #f9fafb;
  padding: 96px 80px;

  .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    h4 {
      font-size: 14px;
      font-weight: 500;
      color: rgb(13, 13, 13);
      background-color: #cfcfd6;
      padding: 4px 20px;
      border-radius: 18px;
    }

    h1{
      color: #4B5563;
      font-size: 20px;
      font-weight: 400;

    }
  }
  .wrapper{

    display: grid;
    grid-template-columns: repeat(auto-fit, 1, minmax(400px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 48px;
    place-content: center;



    
    
    .card{
        padding:32px;
        width: 896px;
        height: 288px;
        border-radius: 12px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 48px;
        transition: all 0.5s ease;

        &:hover{
          transform: scale(1.03);
        }

    

        ul{
            width: 384px;
            list-style-type: disc;
            padding-left: 20px;
            margin-top: 12px;

            

            h1{
                font-size: 20px;
                font-weight: 600;
                h1{
                    margin-bottom: 16px;
                }
            }
        }


        
    }
  }
}

@media (prefers-color-scheme: dark){
  #experience{

    background: #111827;

    .wrapper{

      .card{
        background-color: #1F2937;
        color: #ffff;
      }
    }
  }
}