main{
    padding-top: 68px;
    #intro{
        padding-top: 96px;
        padding-bottom: 96px;
        .wrapper{
            display: flex;
            gap: 48px;
            
        .wrapper_left{
            width: 768px;
            h1{
                font-size: 60px;
                font-weight: 700;
                padding-bottom: 8px;
            }
            
            p{
                font-size: 16px;
                font-weight: 400;
                padding-bottom: 48px;
            }

            .location{
                display: flex;
                align-items: center;
                gap: 8px;
                padding-bottom: 8px;
                font-size: 16px;
                font-weight: 400;
            }

            .headdot{
                display: flex;
                align-items: center;
                margin-left: 4px;
                gap: 8px;
                padding-bottom: 48px;
                font-size: 16px;
                font-weight: 400;

                .dot{
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: green;
                }      
            }

            .social{
               a{
                width: 28px;
                height: 28px;
                
               }
            }
        }

        .wrapper_right{
            position: relative;

            .dark{
                display:none;
                position: absolute;
                z-index: -1;
                top: 40px;
                left: 40px;
            }

            .background{
                position: absolute;
                z-index: -1;
                top: 40px;
                left: 40px;
                
            }

            .frontend{
                transition: all 0.7s ease-in-out;
            }

            .frontend:hover{
                transform:translateX(40px) translateY(40px) scale(0.99);

            }
        }
        
        }
    }
}

@media (prefers-color-scheme: dark){
    
    #intro{
    
        h1, p, i, h6{ 
            color: #fff;


        .dark{
            
        }
    }
    }

}


