footer{
    background: #F9FAFB;
    padding: 24px 532px;
    display: grid;
    place-content: center;

    .footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
        align-items: center;
        gap: 8px;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;

        

    }
}

@media (prefers-color-scheme: dark){
    footer{
        background: #111827;

        p{
            color: #fff;
        }


    }
}